In [3]:
import pandas as pd

def clean_data(df):
    # Drop columns: 'Original Lockname', 'Lockname' and 11 other columns
    df = df.drop(columns=['Original Lockname', 'Lockname', 'Start Timestamp', 'End Timestamp', 'Start_Duration', 'End_Duration', 'curIntent', 'intent', 'mode', 'LOCK_OBJECT_TYPE    ', 'ROWID               ', 'DATA_PARTITION_ID   ', 'TBSP_NAME           '])
    # Strip column names
    df.columns = df.columns.str.strip()
    return df

# Loaded variable 'df' from URI: /home/adam/Documents/GitHub/lock-pred/data/row_locks.csv
df = pd.read_csv(r'/home/adam/Documents/GitHub/lock-pred/data/row_locks.csv')

df_clean = clean_data(df.copy())
df_clean.head()

   PAGEID TABSCHEMA       TABNAME
0       4    SYSIBM  SYSDATATYPES
1       4    SYSIBM  SYSDATATYPES
2       4    SYSIBM  SYSDATATYPES
3   73301  DB2ADMIN    ORDER_LINE
4   73301  DB2ADMIN    ORDER_LINE

In [4]:
df_clean = df_clean.drop_duplicates(subset='PAGEID', keep='first')
df_clean.head()

    PAGEID TABSCHEMA       TABNAME
0        4    SYSIBM  SYSDATATYPES
3    73301  DB2ADMIN    ORDER_LINE
18   70943  DB2ADMIN    ORDER_LINE
25   76731  DB2ADMIN    ORDER_LINE
33   80871  DB2ADMIN    ORDER_LINE